@charset "utf-8";
.view01 ellipse{
    fill:#000;
    fill-rule: nonzero;
    /* fill-rule: evenodd; */
    fill-opacity: 0.1;
    stroke-opacity:1;
    stroke:purple;
    stroke-width:1px;
}
.view02 ellipse{
    fill:#000;
    fill-rule: nonzero;
    /* fill-rule: evenodd; */
    fill-opacity: 0.1;
    stroke-opacity:1;
    stroke:purple;
    stroke-width:1px;
}

.view03 ellipse{
    fill:#000;
    fill-rule: nonzero;
    /* fill-rule: evenodd; */
    fill-opacity: 0.1;
    stroke-opacity:1;
    stroke:purple;
    stroke-width:1px;
}